@model WebApp.Models.Department

@{
    ViewBag.Title = "Delete";
}

<div class="row p-4 ">
    <h2 class="text-black-50">Delete</h2>
</div>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <h4 class="text-primary">Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="form-group badge-light">
            @Html.DisplayNameFor(model => model.Department_Type)
        </dt>

        <dd class="form-group badge-light">
            @Html.DisplayFor(model => model.Department_Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    
        <input type="submit" value="Delete" class="btn btn-outline-primary border-bottom" /> |
        <button class="btn btn-outline-primary border-bottom "> @Html.ActionLink("Back to List", "Index")</button>
    
</div>
    }
</div>
